<div class="flex-grow-1 flex-column">
  <section class="border p-5 mx-auto mt-5 bg-color bg-width">
    <h1 class="text-center f-size text-decoration-underline mb-4">認証メール</h1>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "w-100 form-control", placeholder: "name@example.com" %>
      </div>

      <div class="actions mb-2">
        <%= f.submit "認証メールを再送信する", class: "w-100 btn btn-primary" %>
      </div>
    <% end %>

    <div class="form-text">
      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>
