<%# メモ一覧画面 %>
<div class="flex-grow-1 p-2">
  <section class="row">
    <section class="col-md mb-3">
      <%# 店舗情報 %>
      <div class="title-box mb-3">
        <div class="d-flex align-items-center">
          <div class="shop-photo">
            <img src="<%= @shop_info.shop_photo %>" alt="店舗写真">
          </div>

          <div class="d-flex">
            <p class="ms-2 text-nowrap">店舗名：</p>
            <a href="<%= @shop_info.shop_url %>" target="_blank" rel="noopener noreferrer">
              <p class="m-0 fw-normal"><%= @shop_info.shop_name %></p>
            </a>
          </div>
        </div>

        <p class="m-0 credit">【画像提供：ホットペッパー グルメ】</p>
      </div>

      <%# フラッシュメッセージ %>
      <%= render "layouts/flash" %>

      <%# メモ投稿フォーム %>
      <%= form_with model: [@favorite, @memo] do |f| %>
        <div class="form-floating">
          <%= f.text_area :content, class: "form-control", placeholder: "メモ", id: "floatingTextarea2", style: "height: 150px" %>
          <label for="floatingTextarea2">＊140文字以内＊</label>
        </div>

        <div class="w-50 mt-1 ms-auto">
          <%= button_tag(type: "submit", id: "search", class: "btn btn-primary w-100") do %>
            <i class="bi bi-pen"> メモ</i>
          <% end %>
        </div>
      <% end %>
    </section>

    <%# メモ一覧 %>
    <section class="col-md">
      <ul class="p-0">
        <% @memos.each do |memo| %>
          <%= render "memos/memo", memo: memo %>
        <% end %>
      </ul>

      <%# ページネーション %>
      <div class="d-flex">
        <section class="mx-auto">
          <%= paginate @memos %>
        </section>
      </div>
    </section>
  </section>
</div>
