<li class="mb-2 d-flex align-items-center">
  <div class="shop-photo">
    <img src="<%= dependent_shop.shop_photo %>" alt="店舗写真">
    <%= link_to "", favorite_path(current_user, history_id: dependent_shop.id, redirect: true), method: :delete, remote: true, class: "bi bi-heart-fill favorite", data: { confirm: "お気に入りを解除するとメモ情報も完全に削除されます。\n本当に削除しますか？" } %>
  </div>

  <div class="p-2 w-100">
    <div class="d-flex">
      <p class="m-0 text-nowrap">店舗名：</p>
      <a href="<%= dependent_shop.shop_url %>" target="_blank" rel="noopener noreferrer">
        <p class="m-0"><%= dependent_shop.shop_name %></p>
      </a>
    </div>

    <div class="memo-btn">
      <%= link_to "Memo", favorite_memos_path(dependent_shop.favorite) %>
    </div>
  </div>
</li>
<p class="m-0 credit">【画像提供：ホットペッパー グルメ】</p>
