<header class="container mt-3">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid p-0">
      <%= link_to image_tag("logo.png", alt: "DokoTabeのロゴ", width: "110", height: "30"), root_path, class: "navbar-brand", id: "logo" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if request.path == root_path %>
              <%= link_to " ホーム", root_path, class: "nav-link bi bi-house-door active", id: "home" %>
            <% else %>
              <%= link_to " ホーム", root_path, class: "nav-link bi bi-house-door", id: "home"  %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if request.path == contact_path %>
              <%= link_to " お問い合わせ", contact_path, class: "nav-link bi bi-chat-right-text active", id: "contact" %>
            <% else %>
              <%= link_to " お問い合わせ", contact_path, class: "nav-link bi bi-chat-right-text", id: "contact" %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if request.path == "#" %>
              <%= link_to " ログイン", "#", class: "nav-link bi bi-box-arrow-in-right active" %>
            <% else %>
              <%= link_to " ログイン", "#", class: "nav-link bi bi-box-arrow-in-right" %>
            <% end %>
          </li>
          <%# <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              アカウント
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">検索履歴</a></li>
              <li><a class="dropdown-item border-bottom" href="#">設定</a></li>
              <li><a class="dropdown-item" href="#">ログアウト</a></li>
            </ul>
          </li> %>
        </ul>
      </div>
    </div>
  </nav>
</header>
