<div class="mb-5 text-center flex-grow-1 d-flex flex-column justify-content-center">
  <h1 class="title">
    <img src="/assets/title.png" class="title" alt="タイトル：DokoTabe">
  </h1>
  <p class="lh-lg mb-5">
    お近くの飲食店から１店舗だけ選んでくれるサービスです！
  </p>

  <%= form_with(url: search_results_path, scope: :selected, html: { onsubmit: "return false", name: "shop_search_form" }) do |f| %>
    <section class="row mb-3">
      <section class="col-md mb-4">
        <%= f.select :range, [ ["検索範囲：300m", "1"], ["検索範囲：500m", "2"], ["検索範囲：1000m", "3"], ["検索範囲：2000m", "4"], ["検索範囲：3000m", "5"] ], { selected: 3 }, { class: "form-select text-wrap", "aria-label": "Default select example" } %>
      </section>
      <section class="col-md mb-4">
        <%= f.select :genre, [ ["お店のジャンル：すべて", ""], ["居酒屋", "G001"], ["ダイニングバー・バル", "G002"], ["創作料理", "G003"], ["和食", "G004"], ["洋食", "G005"], ["イタリアン・フレンチ", "G006"], ["中華", "G007"], ["焼肉・ホルモン", "G008"], ["韓国料理", "G017"], ["アジア・エスニック料理", "G009"], ["各国料理", "G010"], ["カラオケ・パーティ", "G011"], ["バー・カクテル", "G012"], ["ラーメン", "G013"], ["お好み焼き・もんじゃ", "G016"], ["カフェ・スイーツ", "G014"], ["その他グルメ", "G015"] ], {}, { class: "form-select text-wrap", "aria-label": "Default select example" } %>
      </section>
      <section class="col-md mb-3">
        <%= f.select :budget, [ ["料金：こだわらない", ""], ["～500円", "B009"], ["501～1000円", "B010"], ["1001～1500円", "B011"], ["1501～2000円", "B001"], ["2001～3000円", "B002"], ["3001～4000円", "B003"], ["4001～5000円", "B008"], ["5001～7000円", "B004"], ["7001～10000円", "B005"], ["10001～15000円", "B006"], ["15001～20000円", "B012"], ["20001～30000円", "B013"], ["30001円～", "B014"] ], {}, { class: "form-select text-wrap", "aria-label": "Default select example" } %>
      </section>
      <%= f.hidden_field(:latitude, value: "") %>
      <%= f.hidden_field(:longitude, value: "") %>
      <section class="col-md-2">
        <%= button_tag(type: "submit", id: "search", class: "btn btn-primary w-100") do %>
          <i class="bi bi-search"> 検索</i>
        <% end %>
      </section>
    </section>
  <% end %>
</div>

<%= javascript_pack_tag "static_pages/home" %>
