<%# ホーム画面 %>
<div class="mb-5 flex-grow-1 d-flex flex-column justify-content-center">
  <h1 class="service-name">
    <img src="/assets/title.png" alt="タイトル：DokoTabe">
  </h1>

  <p class="text-position mb-3">お近くの飲食店を１店舗すぐに見つけてくれるサービスです！</p>

  <%= render "layouts/flash" %>

  <%# 検索フォーム %>
  <%= form_with(url: search_path, scope: :selected, html: { onsubmit: "return false", name: "shop_search_form" }) do |f| %>
    <section class="row">
      <section class="col-md mb-4">
        <%= f.select :range, range_option, { selected: 3 }, { class: "form-select text-wrap" } %>
      </section>

      <section class="col-md mb-4">
        <%= f.select :genre, genre_option, {}, { class: "form-select text-wrap" } %>
      </section>

      <section class="col-md mb-3">
        <%= f.select :budget, budget_option, {}, { class: "form-select text-wrap" } %>
      </section>

      <%# 緯度・経度 用の隠しフィールド %>
      <%= f.hidden_field(:latitude, value: "") %>
      <%= f.hidden_field(:longitude, value: "") %>

      <section class="col-md-2">
        <%= button_tag(type: "submit", id: "search", class: "btn btn-primary w-100") do %>
          <i class="bi bi-search"> 検索</i>
        <% end %>
      </section>
    </section>
  <% end %>
</div>

<%= javascript_pack_tag "home" %>
